<div class="mx-auto w-3/4">
  <form class="input m-10">
    <input
      type="text"
      name="input todo"
      placeholder="Enter address..."
      class="px-8 py-3 text-left shadow-lg rounded-lg"
      [(ngModel)]="inputAddress"
    />
    <input
      class="ml-1 px-6 py-3 bg-green-500 text-white font-bold shadow-lg rounded-lg hover:bg-green-700 transition duration-300 ease-in-out cursor-pointer"
      type="submit"
      value="Add adress"
      (click)="addAddress()"
    />
  </form>
  <div
    *ngFor="let todo of address"
    class="flex border-b-2 border-slate-300 p-2 justify-between items-center"
  >
    <div>
      {{ todo.address }}
    </div>
    <button
      class="rounded-lg p-2 font-semibold text-white bg-red-500 hover:bg-red-600 transition duration-300 ease-in-out"
      (click)="onRemoveAddress(todo.id)"
    >
      Remove
    </button>
  </div>
</div>
