<h2 mat-dialog-title>Gráfico</h2>
<mat-dialog-content>
  <ngx-charts-line-chart
    [view]="view"
    [results]="single"
    [gradient]="gradient"
    [xAxis]="showXAxis"
    [yAxis]="showYAxis"
    [legend]="showLegend"
    [showXAxisLabel]="showXAxisLabel"
    [showYAxisLabel]="showYAxisLabel"
    [xAxisLabel]="xAxisLabel"
    [yAxisLabel]="yAxisLabel"
    [xAxisTicks]="xAxisTicks"
    [xAxisTickFormatting]="formatXAxisTicks"
    [yAxisTickFormatting]="formatYAxisTicks"
  >
    <ng-template #tooltipTemplate let-model="model">
      <div class="p-2">
        <strong
          >{{ formatXAxisTicks(model.name) }} -
          {{ model.value | number : "1.2-2" }}%</strong
        >
      </div>
    </ng-template>
  </ngx-charts-line-chart>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onClose()">Ok</button>
</mat-dialog-actions>
