<h2 mat-dialog-title>Gráfico</h2>
<mat-dialog-content>
  <ngx-charts-line-chart
    [view]="view"
    [results]="single"
    [gradient]="gradient"
    [xAxis]="showXAxis"
    [yAxis]="showYAxis"
    [legend]="showLegend"
    [showXAxisLabel]="showXAxisLabel"
    [showYAxisLabel]="showYAxisLabel"
    [xAxisLabel]="xAxisLabel"
    [yAxisLabel]="yAxisLabel"
  >
  </ngx-charts-line-chart>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onClose()">Ok</button>
</mat-dialog-actions>
