<div class="relative w-full h-full">
  <div
    class="absolute top-0 left-0 h-full w-[30%] min-w-[366px] flex flex-col items-start overflow-auto border-r-[1px] bg-white bg-opacity-60 backdrop-blur-md z-40 justify-between"
    [ngClass]="{ hidden: !displayFilterDrawer }"
  >
    <img
      class="mb-6 h-16 w-auto ml-auto m-3"
      src="../assets/imediatum.png"
      alt="Company Logo"
    />

    <div class="flex flex-col items-center w-full overflow-auto">
      <mat-form-field class="w-3/4 mt-2">
        <mat-label>Empresa</mat-label>
        <mat-select
          name="companyName"
          [formControl]="selectedCompanies"
          class="mt-1"
          multiple
          (selectionChange)="makeNewRequest = true"
        >
          <mat-select-trigger>
            {{ getSelectedCompaniesNames() }}
          </mat-select-trigger>
          <mat-optgroup
            *ngFor="let group of companiesList"
            [label]="group.name"
          >
            <mat-option
              *ngFor="let operation of group.operation"
              [value]="[group.name, operation]"
            >
              {{ operation }}
            </mat-option>
          </mat-optgroup>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="w-3/4 mt-2">
        <mat-label>Tipo de contrato do chip</mat-label>
        <mat-select
          name="operatorType"
          [formControl]="selectedOperators"
          class="mt-1"
          multiple
          (selectionChange)="makeNewRequest = true"
        >
          <mat-select-trigger>
            {{selectedOperators.value?.[0] || ''}}
            @if ((selectedOperators.value?.length || 0) > 1) {
            <span class="additional-selection">
              (+{{ (selectedOperators.value?.length || 0) - 1 }}
              {{ selectedOperators.value?.length === 2 ? "outro" : "outros" }})
            </span>
            }
          </mat-select-trigger>
          <mat-option
            value="select-all"
            selectAll
            [allValues]="chipOperatorList"
            >Select all</mat-option
          >
          @for (operator of chipOperatorList; track operator) {
          <mat-option [value]="operator">{{ operator }}</mat-option>
          }
        </mat-select>
      </mat-form-field>

      <mat-label class="mt-2 text-lg">
        <h1 class="font-medium">Agrupamento</h1></mat-label
      >
      <mat-button-toggle-group
        name="grouping"
        class="mt-2"
        [(value)]="selectedGrouping"
        (change)="makeNewRequest = true"
      >
        @for (grouping of groupingList; track grouping) {
        <mat-button-toggle [value]="grouping.value">{{
          grouping.name
        }}</mat-button-toggle>
        }
      </mat-button-toggle-group>

      <mat-label class="mt-2 text-lg">
        <h1 class="font-medium">Data de início e fim</h1></mat-label
      >
      <mat-form-field class="mt-2">
        <mat-date-range-input
          [rangePicker]="picker"
          #rangeInput="matDateRangeInput"
          [min]="minDate"
          [max]="maxDate"
        >
          <input
            matStartDate
            placeholder="Start date"
            (dateChange)="makeNewRequest = true"
          />
          <input
            matEndDate
            placeholder="End date"
            (dateChange)="makeNewRequest = true"
          />
        </mat-date-range-input>
        <mat-hint><span>MM/DD/YYYY – MM/DD/YYYY</span></mat-hint>
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker"
        ></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>
    </div>

    <div class="w-full border-t-2 border-gray-300 my-4"></div>

    <div class="flex flex-col items-center w-full overflow-auto flex-grow">
      <mat-label class="mt-2 text-lg">
        <h1 class="font-medium">Tipo de layer</h1></mat-label
      >
      <mat-radio-group
        name="layerType"
        [(ngModel)]="selectedLayerType"
        class="mt-1"
      >
        <mat-radio-button value="heatmap" [disabled]="loading$ | async">
          <span class="font-normal text-base"> Heatmap </span>
        </mat-radio-button>
        <mat-radio-button value="circle" [disabled]="loading$ | async"
          ><span class="font-normal text-base"> Circle </span></mat-radio-button
        >
      </mat-radio-group>
      <mat-label class="mt-2 text-lg">
        <h1 class="font-medium">Tipo de filtragem</h1></mat-label
      >
      <mat-radio-group
        name="filterType"
        [(ngModel)]="selectedFilterType"
        class="mt-1"
      >
        <mat-radio-button value="signal" [disabled]="loading$ | async">
          <span class="font-normal text-base">
            Sinal GSM
          </span></mat-radio-button
        >
        <mat-radio-button value="delay" [disabled]="loading$ | async">
          <span class="font-normal text-base">
            Atraso no envio do sinal
          </span></mat-radio-button
        >
      </mat-radio-group>
    </div>
    <div class="absolute bottom-0 w-full flex justify-center overflow-hidden">
      <button
        mat-raised-button
        class="w-full"
        (click)="onManageFilters($event)"
        style="height: 4rem"
        [disabled]="loading$ | async"
      >
        <span class="text-xl"> Aplicar Filtros</span>
      </button>
    </div>
  </div>
  <div
    class="absolute inset-0 z-30 flex items-center justify-center"
    *ngIf="loading$ | async"
  >
    <mat-spinner class="spinner-color"></mat-spinner>
  </div>

  <div class="fixed top-3 right-3 m-3 z-50">
    <app-place-autocomplete (placeSelected)="geocodeFilter = $event">
    </app-place-autocomplete>
  </div>

  <button
    class="fixed top-0 left-0 m-3 z-50 text-sm font-bold bg-white bg-opacity-60 backdrop-blur-md hover:bg-slate-100 py-2 px-2 rounded-full transition-all duration-500 ease-in-out"
    (click)="switchDisplayFilterDrawer()"
    [matTooltip]="displayFilterDrawer ? 'Fechar filtros' : 'Abrir filtros'"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
      class="h-8 w-8"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M4 6h16M4 12h16M4 18h16"
      ></path>
    </svg>
  </button>

  <div class="w-full h-full absolute" #map></div>
</div>
