/* You can add global styles to this file, and also import other style files */
@import "../node_modules/maplibre-gl/dist/maplibre-gl.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

.spinner-color circle {
  @apply text-slate-200;
  stroke: currentColor !important;
}

.spinner-color {
  width: 60px !important;
  height: 60px !important;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
